<ion-header>
  <ion-toolbar>
    <ion-title>Add new password</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-item style="padding-top: 10%;">
    <ion-label position="floating">Name of Platform</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item style="padding-top: 10%;">
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>


</ion-content>





<ion-footer>
  <div class="bottom_button">
    <ion-button shape="round" style="width: 50%;" color="success" (click)="presentAlert()">
      Save
    </ion-button>

    <ion-button  href="main" shape="round" style="width: 50%;" color="danger">
      Cancel
    </ion-button>
  </div>
</ion-footer>
